body {
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

#home a {
  font-weight: normal;
}

main {
  flex: 1;
  padding: 20px;
}

#dashboard {
  max-width: 800px;
  margin: auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
